body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

._container {
  padding: 0 145px;
}

._active-menu {
  transform: translateX(-100%);
}

/* HEADER */

header {
  max-height: 120px;
  position: sticky;
  top: 0;
  width: 100%;
}

.header-top {
  display: flex;
  max-height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logo {
  font-family: "Pushster", cursive;
  font-size: 56px;
  font-weight: 900;
}

.logo a {
  text-decoration: none;
  color: #4ccfc1;
}

.cart {
  display: flex;
  align-items: center;
}

.cart-icon i {
  font-size: 40px;
  color: #4ccfc1;
}

.cart-icon i:hover {
  color: #228463;
}

.cart-amount {
  font-size: 26px;
  font-weight: 700;
  color: #a1a1a1;
  padding: 10px;
}

.menu-btn {
  font-size: 40px;
  color: #a1a1a1;
  display: none;
}

.navigation {
  background-color: #4ccfc1;
  color: #fff;
  min-height: 40px;
  display: flex;
  align-items: center;
}
.navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.nav-item a:hover {
  color: #576c58;
}

@media only screen and (max-width: 1280px) {
  header {
    max-height: 60px;
  }

  .header-top {
    justify-content: space-around;
    height: auto;
  }

  .menu-btn {
    display: block;
  }

  .navigation {
    position: relative;
    left: 100%;
    transition: 0.5s;
  }
  .navigation ul {
    flex-direction: column;
  }
  .delimiter {
    display: none;
  }

  .nav-item {
    line-height: 30px;
  }

}

@media only screen and (max-width: 1024px) {
  header {
    max-height: 40px;
  }

  ._container {
    padding: 0 20px;
  }

  .logo {
    font-size: 50px;
  }

}
@media only screen and (max-width: 600px) {
  .logo {
    font-size: 40px;
  }

  .cart-icont {
    font-size: 34px;
  }

  .nav-item {
    font-size: 24px;
    line-height: 40px;
  }

}
@media only screen and (max-width: 360px) {
  .logo {
    font-size: 30px;
  }

  .cart-icon i {
    font-size: 30px;
  }

  .cart-amount {
    font-size: 20px;
  }

  .menu-btn {
    font-size: 34px;
  }

  .nav-item a {
    font-size: 20px;
    line-height: 30px;
  }

}

/* HEADER */

/* SLIDER */

.slider {
  color: #fff;
  display: flex;
  background-color: #3dc4b2;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.slide-img {
  max-width: 480px;
}

.slide-img img {
  width: 100%;
}

.slide-info {
  max-width: 410px;
}

.slide-title {
  font-size: 44px;
  font-weight: 700;
}

.slide-text {
  font-size: 19px;
  line-height: 26px;
}

.slide-btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 26px;
  background-color: #124a47;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

.slide-btn:hover {
  background-color: #082c23;
}

@media only screen and (max-width: 1024px) {
  .slide-title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .slider {
    flex-direction: column;
  }

  .slider-title {
    text-align: center;
  }
}

@media only screen and (max-width: 360px) {
  .slide-title {
    font-size: 24px;
  }
}

/* SLIDER */

/* CATEGORIES */

.categories {
  min-height: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  min-width: 170px;
  display: flex;
  padding: 10px;
  flex-grow: 1;
  justify-content: center;
}

.category:not(:last-child) {
  border-right: 1px solid #dfdbdb;
}

.category-img {
  max-width: 170px;
}

.category-img img {
  width: 100%;
}

.category-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100px;
}

.category-name {
  color: #a1a1a1;
  font-weight: 700;
  font-size: 22px;
}

.category-btn {
  color: #fff;
  max-width: 60px;
  height: 30px;
  font-weight: 700;
  border: none;
  background-color: #3cc395;
  border-radius: 5px;
  cursor: pointer;
}

.category-btn:hover {
  background-color: #228463;
}

@media only screen and (max-width: 600px) {
  .categories {
    flex-direction: column;
    padding: 20px 20px;
  }

  .category:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #dfdbdb;
  }

  .category-btn {
    min-width: 60px;
  }

  .category-info {
    padding: 0;
  }

}
/* CATEGORIES */

/* PRODUCTS */

.products-header {
  height: 70px;
  background-color: #4ccfc1;
  display: flex;
  align-items: center;
}

.products-title {
  color: #fff;
  font-size: 30px;
}

.product {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  max-width: 280px;
  border-bottom: 5px solid #4ccfc1;
  margin: 40px;
  padding: 40px;
}

.products {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.product-img {
  max-width: 100%;
}

.product-img img {
  width: 100%;
}

.product-name {
  margin: 10px 0;
  color: #a1a1a1;
  font-weight: 700;
  font-size: 22px;
}

.product-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 200px;
}

.price {
  color: #a1a1a1;
  font-size: 26px;
  font-weight: 700;
}

.product-btn {
  color: #fff;
  max-width: 100px;
  height: 30px;
  font-weight: 700;
  border: none;
  background-color: #3cc395;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1610px) {
  .products {
    padding: 0 80px;
  }

  .product {
    min-width: 220px;
    margin: 30px;
  }

  .product-img {
  }

  .product-name {
  }

  .product-info {
    min-width: 160px;
  }

  .price {
  }

  .product-btn {
  }
}

@media only screen and (max-width: 1024px) {
  .products {
    padding: 0 10px;
  }

  .products-title {
    font-size: 28px;
  }

  .product {
    max-width: 220px;
    margin: 10px;
    padding: 30px;
  }

}

@media only screen and (max-width: 600px) {
  .product {
    min-width: 220px;
    margin: 10px;
  }

  .product-info {
    min-width: 160px;
  }

}

@media only screen and (max-width: 360px) {
  .product-info {
    min-width: 160px;
  }
}

/* PRODUCTS */

/* FOOTER */

footer {
  background-color: #3cc3b5;
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  color: #fff;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
  font-size: 20px;
  line-height: 30px;
}

.f-menu-title {
  font-size: 26px;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  .f-menu-title {
    font-size: 22px;
    font-weight: 700;
  }

}
/* FOOTER */
